<div class="center" class="body">
    <input type="checkbox" id="show">

    <label for="show" class="show-btn1">Ready to login? Click here</label>

    <label for="show" class="show-btn2" [routerLink]="['']">Or go back to the home page.</label>

    <div class="container">
        <label for="show" class="close-btn fas fa-times" title="close"></label>
        <div class="text">
            Memos Login</div>
        <form (ngSubmit)="login()" >

            <div class="data">
                <label>Email or Phone</label>
                <input type="email" name="email" class="form-control" [(ngModel)]="email" placeholder="Enter email Id"
                    required>
            </div>

            <div class="data">
                <label>Password</label>
                <input type="password" name="password" class="form-control" [(ngModel)]="password"
                    placeholder="Enter Password" required>
            </div>

            <div class="forgot-pass">
                <a href="#">Forgot Password?</a>
            </div>
            <div class="form-group">
                <p *ngIf="errorMessage.length > 0" class="text-danger">
                    {{errorMessage}}</p>
    
                <p *ngIf="error.message.length > 0" class="text-danger">
                    {{error.message}} </p>
    
            </div>
            <div class="btn">
                <div class="inner">
                </div>
                <button type="submit">Login</button>
            </div>

            <div class="signup-link">
                Not a member? <div class="register"><a href="#" routerLink="/register">New User Register</a></div>
            </div>
        </form>
        
    </div>
</div>