<div class="ok">
    <div class="wrapper">
        <div class="Container">
            <div class="nav">
                <div class="logo">
                    MEMOS
                </div>
                <div class="menu">
                    <ul class="navMenu">
                        <li><a href="#" [routerLink]="['']">Home</a></li>
                        <!-- <li><a href="#">Listining</a></li>
                        <li><a href="#">Locations</a></li> -->
                        <li><a href="#" routerLink="/promotion">Promotion</a></li>
                        <li><a href="#" routerLink="/login">Sign in</a></li>
                    </ul>
                </div>
            </div>
            <div class="header">
                <h1>The Note You Need</h1>
                <p>A product by team <a style="color: rgb(41, 243, 41); font-size: 18pt;">Green</a> </p>
                <button type="button">Register Here</button>
            </div>
        </div>
    </div>
</div>